/.idea
/1.py
/2.py
/85.py
/app.py
/bot.py
/build
/calc.py
/calc.spec
/crooszero.py
/cw.py
/delimost.py
/dist
/divisor.py
/Euler
/euler.py
/foo.py
/func.py
/game.py
/game2.py
/grafics.py
/ksysha.txt
/Lesson_1.py
/price.py
/primer.py
/prittytable.py
/PYgame.py
/q&a.py
/qanda.py
/questions.txt
/rand.py
/shmup-2.py
/telebot.py
/temp.py
/test.py
/test_2.py
/test_3.py
/test_4.py
/turtle.py
/Untitled-1.py
/weather.py
/x&y.py
/__pycache__
/Столицы.txt